{% extends "layout.html" %}

{% block content %}
<h1>Users</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Phone Number</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
    {% for user in users  %}
    <tr>
			<td>{{ user.first_name }}</td>
			<td>{{ user.last_name }}</td>
			<td>{{ user.phone_number }}</td>
			<td class="text-right">
				<div class="btns">
					<form action="{{ url_for('delete_user', user_id=user.user_id ) }}" method="post" class="pull-right" style="padding-left: 10px">
						<input type="hidden" name="id" value="{{ user.user_id }}">
						<input type="submit" class="btn btn-danger" data-toggle="confirmation" value="Delete">
					</form>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock  %}